.btn-lista {
	border: solid 1px #0f6da9;
	width: 100%;
	text-align: left;
}

.btn-lista:hover {
	border: solid 1px #0f6da9;
	background-color: #e4eafe;
	width: 100%;
	text-align: left;
}

.btn-lista-contagem {
	width: 100%;
	text-align: left;
}

.btn-lista-contagem-caixa {
	margin-left: 5px;
}

.link-bloqueado {
	cursor: not-allowed !important;
}

.dados-clientes {
	margin: 10px 0 10px 0;
	border: 1px solid #0f6da9;
	height: 261px;
    overflow: auto;
}

.dados-projeto {
	margin: 10px 0 10px 0;
	border: 1px solid #0f6da9;
	height: 300px;
    overflow: auto;
}

.lista-usuarios {
	height: 255px;
    overflow: auto;
}

.lista-acessos {
	height: 220px;
    overflow: auto;
}

.dados-clientes-padding {
	padding: 5px;
}

.dados-clientes-linha {
	margin-top: 10px;
}

.fundo-azul {
	background-color: #0f6da9;
}

.fundo-azul h5 {
	color: white;
}

.fundo-azul h4 {
	color: white;
}

.destaque-linha {
	padding: 5px 5px 5px 5px;
}

.destaque-linha:hover {
	background-color: #d2dcff;
}

.btn-formato-arquivo {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;

	padding: 2px 5px;
}

.btn-lista-arquivos {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	border-right: #ccc;
}

.cronograma {
	border: 1px solid #0f6da9;
	padding: 5px 0;
	position: relative;
}

.previsao {
	margin-bottom: 0;
	position: relative;
}

.usuarios-do-projeto {
	padding: 0 2px 0 2px;
}

