/*
 * ERRO
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * CORES
 * VERDE PADRAO : 1AA095;
*/
/* ************************* DIV  */
div.caixa-erro{
  color: #C83D31;
  background-color: #FFBEC9;
  background: rgba(255, 0, 5, 0.09);

  margin: 0 0 10px 0;
  padding: 2px 10px;

  border: 1px solid #C83D31;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* ************************* H1  */
div.caixa-erro h1{
	text-align: center;

	border-bottom: 1px solid #C83D31;
}

/* ************************* P  */
div.caixa-erro span p{
	font-size: 160%;
	font-weight: 300;

	padding-left: 20px;
}
