.row{
  margin-left: 0;
  margin-right: 0;

  text-align: center;
}

p.text-paragrafo {
  text-indent: 30px;
}

.conteiner {
  margin-left: 0;
  margin-right: 0;
}

[class*="col-xs-"]:not([class*="col-xs-offset"]){
  padding-left: 0;
  padding-right: 0;
}

[class*="col-sm-"]:not([class*="col-sm-offset"]){
  padding-left: 0;
  padding-right: 0;
}

[class*="col-md-"]:not([class*="col-md-offset"]){
  padding-left: 0;
  padding-right: 0;
}

[class*="col-lg-"]:not([class*="col-lg-offset"]){
  padding-left: 0;
  padding-right: 0;
}

div.container-error{
  color: #C83D31;
  background-color: #FFBEC9;
  background: rgba(255, 0, 5, 0.09);

  margin: 2px 0 10px 0;
  padding: 1px 10px;

  border: 1px solid #C83D31;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.btn-info {
  background-color: #1083cc;
  border-color: #0f6da9;
}

.btn-info:hover {
  background-color: #0f6da9;
  border-color: #0f6da9;
}

.btn_clientes_adicionais {
  margin-bottom: 10px !important;
}