.slide-container {
	width: 90%;
}

a.controle-slide {
	opacity: 0.1 !important;
}

.inf-home-caixa {
	padding: 10px 0px 10px 0px;
}

.inf-home-item a {
	font-style: none;
	color: white;
}

.caixa-texto-home-azul {
	background-color: #1083cc;
	color: white;
}

.caixa-texto-home-vermelho {
	background-color: #0f6da9;
	color: white;
}

.faixa-azul {
	padding-top: 10px;
	background-color: #1083cc;
	color: white;
	font-size: 22px;
}