body {
    position: relative;
}

ul.nav-pills {
    top: 20px;
    position: fixed;
}

div.col-sm-9 div {
    height: auto;
    font-size: 16px;
}

div.sessao-primeiro {
    color: #fff;
    background-color: #d00000;
    margin-top: 0px;
}

div.sessao-impar {
    color: #fff;
    background-color: #0f6da9;
}

div.sessao-par {
    color: #fff;
    background-color: #1083cc;
}

div.imagem-servicos {
    padding: 5px;
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
  }
}

@media screen and (orientation:portrait) and (max-width:360px) {
    .item-servico-ajuste p {
        font-size: 12px;
    }
    
}