div.footer-conteiner {
	background-color: #1083cc;
	border-top: solid 1px #0f6da9;
	border-bottom: solid 1px #0f6da9;
	margin-top: 5px;
}

div.logo-footer {
	text-align: center;
	padding: 10px 0px 10px 0px;
}

div.logo-footer img {
	width: 70%;
}

div.contato-footer {
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	color: white;
	background-color: #0f6da9;
}