div.logo-grande {
	width: 200px;
}

div.logo-grande img {
	width: 100%;
	padding: 20px 0px 20px 0px;
}

div.logo-pequena {
	background-color: #1083cc;
}

a.logo-pequena-interno img {
	width: 90px;
	margin-top: -10px;
}

label.label-login {
	float: right;
	margin: 7px 5px 0px 0px;
}

button.botao-login {
	float: right;
}

div.formulario-login {
	padding: 20px 0px 10px 0px;
}