/*
 * MOBILE_LANDSCAPE
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
*/
@media screen and (orientation:portrait) and (max-width:360px) {
	/* ************************* DIV  */
	.menu-top {
		margin-top: 0;
	}

	div.caixa-linha div.caixa-celula:FIRST-CHILD{
		margin-left: 0;
	}

	div.caixa-linha div.caixa-celula div.caixa-celula-titulo{
		margin-bottom: 20px;
	}

	div.caixa-linha div.caixa-celula div.caixa-celula-conteudo{
		text-align: justify;
	}

	div.caixa-parceiros{
		margin-left: 0;
	}

	div.caixa-parceiros div.caixa-parceiros-logos{
		margin-left: 0;
	}

	div.caixa-parceiros div.caixa-parceiros-logos div{
		margin-bottom: 10px;
	}

	/* ************************* IMG  */
	div.caixa-linha div.caixa-celula div.caixa-celula-conteudo img{
		margin-right: 10px;
		margin-bottom: 10px;
	}

	div.caixa-parceiros div.caixa-parceiros-logos img{
		width: 80%;
	}
}